
<div class="home-right">Suggested Items to eat</div>
<table class = "table table-suggestion ">
  <tr>
    <th>Item</th>
    <th>Calories</th>
  </tr>
  <% @suggestion.each do |suggested| %>
    <tr>
      <td>
        <%= suggested.item %></td>
      <td><%= suggested.calories %></td>
    </tr>
  <% end %>
</table>
