<nav class="left-menu">
  <ul>
    <li><%= link_to 'BodyMetric', new_body_metric_path %></li>
    <li><%= link_to 'FoodList',food_items_path %></li>
    <li><%= link_to 'FoodRecord', new_food_record_path %></li>
    <li><%= link_to 'WorkoutVideos',"#" %></li>
  </ul>
</nav>

