<script type = "text/javascript" charset="utf-8">
$(function(){
  new Highcharts.chart({
    chart: {
    renderTo: "charts-food"
    }
  });
});
</script>
<div id = "charts-food" style="width:300px; height:300px;"></div>
